// @import url('https://fonts.cdnfonts.com/css/fira-code-2');
// @import url('https://fonts.cdnfonts.com/css/bruno-ace');
@font-face {
    font-family: 'Fira Code';
    src: url('@fonts/FiraCode-Light.woff2') format('woff2'),
        url('@fonts/FiraCode-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('@fonts/FiraCode-Regular.woff2') format('woff2'),
        url('@fonts/FiraCode-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('@fonts/FiraCode-Medium.woff2') format('woff2'),
        url('@fonts/FiraCode-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('@fonts/FiraCode-Bold.woff2') format('woff2'),
        url('@fonts/FiraCode-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bruno Ace';
    src: url('@fonts/BrunoAce-Regular.woff2') format('woff2'),
        url('@fonts/BrunoAce-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


$font-stack: 'Fira Code', sans-serif;
$accent-font: 'Bruno Ace', sans-serif;
$primary-bg: #000;
$content-size: 1400px;
$flex: 1400px;
$primary-bgPattern: url(@images/common/bgPattern.svg) repeat top;
$primary-color: #fff;
$secondary-color :#727796;
$accent-color:#FF006A;
$accent-secondary-color:#6ED567;
$secondary-color:#806bff;
$secondary-alphaColor:rgba(134,111 ,255, 0.5);
$code-color:#00FF38;
$code-secondary-color:#00FF38;
$primary-font-size:16px;
$secondary-font-size:20px;
$logo-font-size:30px;

@mixin margin-center {
    margin-right: auto;
    margin-left: auto;
}

@mixin rotate {
    animation: rotation 30s infinite linear;

}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-align-center {
    display: flex;
    align-items: center;
}

@mixin flex-justify-center {
    display: flex;
    justify-content: center;
}

@media (max-width: 1400px) {
    $content-size: #f00;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}