@import 'variables';

body {
  font: 100% $fontStack;
  font-weight: 400;
  letter-spacing: -1px;
  color: $primaryColor;
  // background: $primaryBgPattern;
  background-color: $primaryBg;

}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;

  .element {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    margin-top: 10px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-size: 24px;
  }
}


.loadingWrap {
  position: fixed;
  @include flexCenter;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: #000;
  font-size: 50px;
}

.inner {
  @include marginCenter;
  display: block;
  width: $contentSize;
  max-width: 100%;
}

.mt50 {
  margin-top: 50px;
}

.mt300 {
  margin-top: 300px;
}

.btnList {
  display: flex;
  gap: 15px;
}

.button {
  @include flexCenter;
  width: 200px;
  height: 40px;
  border: solid 2px #ff006a;
  color: #fff;
  font-size: 20px;

  &.contained {
    background-color: #ff006a;
  }

  &.outlined {
    color: #ff006a;
  }
}

canvas {
  background-color: transparent;
}

#mouseCursor {
  position: fixed;
  top: -50px;
  left: -50px;
  // transition: .1s;
  // width: 50px;
  // height: 50px;
  // border-radius: 100%;
  // // background-color: #ff006a;
  // // opacity: 0.5;
  // pointer-events: none;
  /* 마우스 이벤트를 무시함 */
  // mix-blend-mode: plus-lighter;
}