@import 'variables';




nav {
    @include flex-center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    height: 60px;
    width: 100%;
    background-color: $primary-bg;
    mix-blend-mode: difference;
    .logo{
        color: $primary-color;
        font-size: $logo-font-size;
        font-weight: normal;
        font-family: $accent-font;
    }

    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            display: flex;
            gap: 25px;

            a {
                color: $primary-color;
                font-size: $primary-font-size;
            }
        }
    }
}