@import 'variables';




nav {
    @include flexCenter;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    height: 60px;
    width: 100%;
    background-color: $primaryBg;
    mix-blend-mode: difference;
    .logo{
        color: $primaryColor;
        font-size: $logoFontSize;
        font-weight: normal;
        font-family: $accentFont;
    }

    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            display: flex;
            gap: 25px;

            a {
                color: $primaryColor;
                font-size: $primaryFontSize;
            }
        }
    }
}