@import 'variables';

.mainVisual {
  // background: url(@images/main/mainVisualBg.jpg) no-repeat top;
  background-size: cover;
  height: 100vh;
  position: relative;
  pointer-events: none;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 26vh;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(4 5 6) 84%);
  }

  .canvasWrap {
    // background:url(@images/main/canvasBg.png) no-repeat center;
    // background-size: 50%;
    position: relative;
    width: 100%;
    height: 100vh;
    cursor: pointer;
    pointer-events: auto;

    canvas {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%) // width: 100% !important;
        // height: auto !important
    }
  }

  .mainText {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    width: 1600px;
    max-width: 83%;
    font-family: $accentFont;
    mix-blend-mode: difference;

    h2 {
      font-size: 110px;
      background: linear-gradient(180deg, rgb(129, 228, 255) 0%, rgba(255, 255, 255, 0.8) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      letter-spacing: -5px;
    }

    h2:last-child {
      margin-left: auto;
      text-align: right
    }
  }

  .sideSmText {
    font-size: 28px;
    font-weight: normal;
    color: #727796;
    position: absolute;
    bottom: 15vh;
  }

  .iconText {
    position: absolute;
    top: 135px;
    padding-top: 15px;
    right: 8.5%;

    img {
      @include rotate;
      width: 50px;
      position: absolute;
      right: 20px;
      top: 0;
    }

    p {
      font-size: 30px;
      font-weight: normal;
      color: #727796;
    }
  }

  .sideLgText {
    position: absolute;
    top: 42vh;
    right: 8.5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #E4ABC2;

    li {
      text-align: right;
      font-family: $accentFont;

      p {
        font-size: 60px;
      }

      span {
        font-size: 22px;
      }
    }
  }

  .btnList {
    position: absolute;
    bottom: 20vh;
    right: 8.5%;
    pointer-events: auto;
  }
}

.projectIntro {
  .inner {
    display: flex;
  }

  .sideTitle {
    padding: 0 10px;

    img {
      display: block;
      height: 100%;
    }
  }

  .grid {
    width: 100%;
    display: grid;
    gap: 30px;
    grid-template-columns: calc(57% - 15px) calc(43% - 15px);
    grid-auto-rows: min-content;
    grid-template-areas:
      "content1 content2"
      "content3 content3";

    li {
      &:nth-child(1) {
        grid-area: content1;
      }

      &:nth-child(2) {
        grid-area: content2;
      }

      &:nth-child(3) {
        grid-area: content3;
      }
    }

  }

  .grid.ty2 {
    grid-auto-rows: min-content;
    grid-template-areas:
      "content1 content1"
      "content2 content3";
  }

  .desc {
    .progress {
      ul {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: #FD1C74;
      }

      .bar {
        width: 100%;
        height: 27px;
        position: relative;
        border: 1px solid #FD1C74;
        border-radius: 300px;
        display: block;
        margin-top: 12px;

        &:after {
          content: "";
          position: absolute;
          display: block;
          width: calc(100% - 6px);
          height: calc(100% - 6px);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: linear-gradient(270.04deg, #FD1C74 0.04%, rgba(253, 28, 116, 0) 74.09%);
          border-radius: 300px;
        }
      }
    }


    .text {
      margin-top: 10px;
      padding: 40px 24px;

      .top {
        img {
          height: 34px;
        }
      }

      .btm {
        margin-top: 30px;

        p {
          color: #00FF38;
          font-size: 18px;
          margin-top: 20px;
        }
      }
    }
  }

  .borderBox {
    border: 1px solid rgb(253 28 116 / 44%);
    border-radius: 15px;
    line-height: 1.4;
    overflow: hidden;
  }



  .code {
    font-size: 18px;
    color: #727796;
    padding: 40px 24px;

    div:not(:first-child) {
      margin-top: 30px;
    }

    i {
      font-style: normal;
    }

    p {
      color: #FFF48E;
    }

    b {
      color: #53D1ED;
    }

    h3 {
      color: #fff;
    }
  }

  .content {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 30px;
      background: #290027;
      padding: 0 25px;

      h3 {
        font-weight: normal;
        font-size: 14px;
      }

      .ico {
        display: flex;
        gap: 4px;
      }


    }

    .cont {
      width: 100%;
      display: block;
      opacity: 70%;
      transition: .3s;

      &:hover {
        opacity: 1;
      }
    }

  }
}

.skills {
  padding: 150px 0;
  margin: 150px 0;
  position: relative;
  background: url(@images/main/skillsBg.svg) no-repeat center;
  background-size: cover;

  h2 {
    font-family: $accentFont;
    font-size: 80px;
    text-align: center;
    color: $accentColor;
    margin-bottom: 70px;
  }

  .glitch {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;

    canvas {
      width: 100%;
      height: 100%;
      opacity: 0.4;
    }
  }

  .grid {
    position: relative;



    ul {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      column-gap: 6px;
    }


    li {
      opacity: 0.5;
      transition: .3s;

      &:hover {
        opacity: 1;
      }

      img {
        width: 100%;
      }
    }
  }
}

.commonTittle {
  font-family: $accentFont;
  font-size: 50px;
  line-height: 60px;
  color: #fff;
  margin-bottom: 32px;
}

.discover {
  .grid {
    display: grid;
    column-gap: 23px;
    grid-template-columns: repeat(4, 1fr);

    li {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid rgba(253, 28, 116, 0.5);
        border-radius: 15px;
        background-color: #030104;
        width: 100%;
        height: 100%;

      }

      &:after {
        content: "";
        position: absolute;
        top: 8px;
        left: 8px;
        background: rgba(253, 28, 116, 0.5);
        border-radius: 15px;
        width: 100%;
        height: 100%;
        z-index: -1;
      }

      .three {
        position: relative;
        height: 340px;

        canvas {
          width: 100%;
          height: 100%;
        }
      }


      .desc {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        border: 1px solid rgba(253, 28, 116, 0.5);
        border-radius: 15px;
        line-height: 1.7;

        dt {
          h3 {
            font-weight: 700;
            font-size: 18px;
            color: #53D1ED;
          }

          p {
            font-size: 16px;
            color: #fff;
          }
        }

        dd {
          p {}
        }
      }

    }
  }

  .more {
    font-family: $accentFont;
    color: #019F25;
    text-align: right;
    margin-top: 30px;
    font-size: 30px;
    transition: .3s;

    &:hover {
      color: #00FF38;
    }
  }
}


.collection {

  .title {
    display: flex;
    justify-content: space-between;

    li {
      &:nth-child(2) {

        a {
          font-family: $accentFont;
          color: #fff;
          font-size: 18px;
          display: flex;
          align-items: center;
          gap: 13px;

          img {
            width: 64px;
          }
        }

        &:hover {
          img {
            animation: rotation 2s infinite linear;
          }
        }

      }

      h2 {}

      a {

        img {}
      }

    }
  }

  .grid {
    &:hover {
      z-index: 1;
    }
.vue3-marquee{margin-top: 30px;}
    .marqueeItem {
      border: 1px solid #FD1C74;
      margin-right: 30px;
      width: 600px;
      margin-right: 30px;
      opacity: 0.3;


      &:hover {
        opacity: 1;
      }

      img {
        width: 100%;
        display: block;
      }

    }
  }
}