@import 'variables';

.mainVisual {
  background-size: cover;
  height: 100vh;
  position: relative;
  // pointer-events: none;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 26vh;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(4 5 6) 84%)
  }

  .canvasWrap {
    position: relative;
    width: 100%;
    height: 100vh;
    cursor: pointer;
    // pointer-events: auto;

    canvas {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%)
    }
  }

  .mainText {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    width: 1600px;
    max-width: 83%;
    font-family: $accentFont;
    mix-blend-mode: difference;

    h2 {
      font-size: 110px;
      background: linear-gradient(180deg, rgb(129, 228, 255) 0%, rgba(255, 255, 255, .8) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      letter-spacing: -5px
    }

    h2:last-child {
      margin-left: auto;
      text-align: right
    }
  }

  .sideSmText {
    font-size: 28px;
    font-weight: normal;
    color: #727796;
    position: absolute;
    bottom: 15vh
  }

  .iconText {
    position: absolute;
    top: 135px;
    padding-top: 15px;
    right: 8.5%;

    img {
      @include rotate;
      width: 50px;
      position: absolute;
      right: 20px;
      top: 0
    }

    p {
      font-size: 30px;
      font-weight: normal;
      color: #727796
    }
  }

  .sideLgText {
    position: absolute;
    top: 42vh;
    right: 8.5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #E4ABC2;

    li {
      text-align: right;
      font-family: $accentFont;

      p {
        font-size: 60px
      }

      span {
        font-size: 22px
      }
    }
  }

  .btnList {
    position: absolute;
    bottom: 20vh;
    right: 8.5%;
    // pointer-events: auto
  }
}

.introWrap {

  .title {
    h3 {
      font-family: $accentFont;
      text-transform: uppercase;
      font-size: 80px;
      color: #fff;
      line-height: 1.5;
      font-weight: normal;

      &:nth-child(2) {
        display: inline-flex;
        align-items: center;
        gap: 30px;
      }
    }

    .highlight {
      padding: 0 10px;
      font-style: normal;
      color: #fff;
      line-height: 1;
      position: relative;


      i {
        position: absolute;
        background-color: #00ff38;
        color: #000;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 50%;
        z-index: -1;
      }
    }
  }


  .scrollHorizontal {
    padding: 40px;
    will-change: transform;

    .content {
      display: flex;
      align-items: center;
      white-space: nowrap;
    }

    .img {
      flex-shrink: 0;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      position: relative;
      margin-right: 70px;
      overflow: hidden;
      width: 30%;
      border-radius: 20px;

      &.active {
        width: calc(100% - 40px);
        height: calc(100% - 40px);
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 2560px;
      }
    }

    .desc {
      margin-bottom: 10vh;

      p {
        font-size: 36px;
        color: #fff;

        span {
          color: #00ff38;
        }
      }

      .dot {
        position: relative;
        padding-left: 24px;

        &:after {
          content: "";
          width: 10px;
          height: 10px;
          position: absolute;
          left: 0;
          top: 23px;
          border-radius: 100%;
          background-color: #00ff38;
        }
      }
    }
  }
}


.horizontalTexts {
  li {
    font-family: $accentFont;
    font-size: 80px;
    font-weight: normal;
    line-height: 1.5;
    color: #fff;
    text-align: center;

    &:nth-child(1) {
      margin-left: 10%;
    }

    &:nth-child(2) {
      margin-right: 30%;
    }

    &:nth-child(3) {
      margin-left: 40%;
    }

    &:nth-child(4) {
      margin-right: 10%;
    }
  }
}